body
{
    font-family: 'Arial';
    margin: 0;
}

a
{
    text-decoration: none;
}

/* HEADER */

#header
{
    z-index: 3;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    position: fixed;
    width: 100%;
}

#header #aceimg
{
    width: 15%;
}

#header .tab
{
    width: 25%;
}

#header #pfp
{
    width: 10%;
}


#header div a
{
    text-decoration: none;
    font-size: 2em;
    width: 100%;
}

#header div span
{
    width: 100%;
    height: 100%;
}

#header div
{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 50px;
    text-align: center;
}

/*LIGHT*/
#header.light
{
    background-color: #f2f2f2;
    filter: drop-shadow(0px 5px 5px black);
}

#header .tab.light
{
    background-color: #f2f2f2;
    filter: none;
    
}

#header .selected.light
{
    background-color: #007abc;
    filter: none;
    
}

#header .light a 
{
    color: black;
}

#header .selected.light a 
{
    color: white;
}

#header .tab.light:hover
{
    background-color: #0090da;
}

#header .tab.light:hover a
{

    color: #f2f2f2;
}

#header .tab.selected.light:hover
{
    background-color: #ffffff;
}

#header .tab.selected.light:hover a
{
    color: #007abc;
}


/*DARK*/
#header .dark
{
    background-color: #3b3b3b;
}


/*Nav/Qbar*/
#qbar
{
    margin-top: 50px;
    margin-right: 0px;
    width: max(170px, 20%);
    text-align: center;
    border-right: 4px solid #007abc;
    height: 100%;
    position: fixed;
}

#qbar .q
{
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
  text-align: left;
  padding: 5px;
  width: 95%;
  margin:0;
}

/* LIGHT */

#qbar .q.light:hover
{
    background-color: #007abc;
    color: white;
}

/*MAIN*/
#mainask
{
    padding: 10px;
    padding-top: 50px;
    margin-left: max(170px, 20%);
}

.main.light
{
    background-color: #f2f2f2;
}

